<!-- <h1>Delete Post </h1>
  <form method="post" action="/posts/<%= @locator.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <p>Name<input type="text" name="name" value="<%=@locator.name%>"></p>
  <p>Content<input type="text" name="content" value="<%=@locator.content%>"><p>
  <input type="submit" value="delete"/>
</form> -->
